<header class="header">
    <nav class="header-nav">

        <div class="nav-title">
            {{ if eq .Section "tft" }}
            <a class="nav-brand" href="/tft/">A Table For Two</a>
            {{ else }}
            <a class="nav-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            {{ end }}
        </div>

        <div class="nav-links">
            {{ if eq .Section "tft" }}
            {{/* TFT Menu */}}
            <div class="nav-link">
                <a href="/" aria-label="home">Home</a>
            </div>
            <div class="nav-link">
                <a href="/tft/posts/" aria-label="posts">Posts</a>
            </div>
            <div class="nav-link">
                <a href="/tft/articles/" aria-label="articles">Articles</a>
            </div>
            <div class="nav-link">
                <a href="/posts/" aria-label="mii">MII</a>
            </div>
            <div class="nav-link">
                <a href="/tags/" aria-label="tags">Tags</a>
            </div>
            {{ else }}
            {{/* Default Blog Menu */}}
            {{ range .Site.Menus.main }}
            <div class="nav-link">
                <a href="{{ .URL | absURL }}" aria-label="{{ .Identifier }}">
                    {{- .Name -}}
                </a>
            </div>
            {{ end }}
            {{ end }}

            <span class="nav-icons-divider"></span>
            <div class="nav-link dark-theme-toggle">
                <span class="sr-only dark-theme-toggle-screen-reader-target">theme</span>
                <a aria-hidden="true" role="switch">
                    <span class="theme-toggle-icon" data-feather="moon"></span>
                </a>
            </div>

            <div class="nav-link" id="hamburger-menu-toggle">
                <span class="sr-only hamburger-menu-toggle-screen-reader-target">menu</span>
                <a aria-checked="false" aria-labelledby="hamburger-menu-toggle" id="hamburger-menu-toggle-target" role="switch">
                    <span data-feather="menu"></span>
                </a>
            </div>

            <!-- For mobile -->
            <ul class="nav-hamburger-list visibility-hidden">
                {{ if eq .Section "tft" }}
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/tft/posts/">Posts</a></li>
                <li class="nav-item"><a href="/tft/articles/">Articles</a></li>
                <li class="nav-item"><a href="/posts/">MII</a></li>
                <li class="nav-item"><a href="/tags/">Tags</a></li>
                {{ else }}
                {{ range .Site.Menus.main }}
                <li class="nav-item">
                    <a href="{{ .URL | absURL }}">{{- .Name -}}</a>
                </li>
                {{ end }}
                {{ end }}
                <li class="nav-item dark-theme-toggle">
                    <span class="sr-only dark-theme-toggle-screen-reader-target">theme</span>
                    <a role="switch">
                        <span class="theme-toggle-icon" data-feather="moon"></span>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
</header>
