{{ define "main" }}
<div class="container list-posts">
    <h1 class="list-title">{{ .Title }}</h1>
    {{ range .Pages.GroupByDate "2006" }}
    {{ range .Pages.GroupByDate "January" }}
    <h2 class="posts-year">{{ (time.Format "2006" (index .Pages 0).Date) }} — {{ (time.Format "January" (index .Pages 0).Date) | title }}</h2>
    <ul class="post-list">
        {{ range .Pages }}
        <li class="post-item">
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    {{ end }}
</div>
{{ end }}
